:root {
    --bg: #1C1C1E;
    --section: #2D2D2F;
    --text: #E5E5E7;
    --subtext: #9FA2A7;
    --accent: 	#b59e7d;
    --glass: rgba(45, 45, 47, 0.6);
    --border: rgba(255, 255, 255, 0.1);
  }
  